<h1>About me!</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "image1.png", width: 300, alt: "Profile image" %>
  </div>
  
  <div class="col-md-8">
    <p>I currently am going to school at Corner Canyon High School. My favorite subject is math and science. I am currently 15 years old and getting older. I love to go mountain bike, ski, and hang out with friends when I'm free. I am very hard working and will not stop until I get the job done!</p>
  </div>
</div>

