<div class="app-card-container">
	<div class="card">
		<h1>About me!</h1>

		<hr>

		<div class="row">
		  <div class="col-md-4">
		    <%= image_tag "image1.png", width: 150, alt: "Profile image" %>
		  </div>
		  
		  <div class="col-md-8">
		    <p>I currently am going to school at Corner Canyon High School. My favorite subject is math and science. I am currently 15 years old and getting older. I love to go mountain bike, ski, and hang out with friends when I'm free. I am very hard working and will not stop until I get the job done!</p>

        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Job History
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Job 1
            </div>
            <div class="card card-block">
              Job 2
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              School 1
            </div>
            <div class="card card-block">
              School 2
            </div>
            <div class="card card-block">
              School 3
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>