
<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Home Address</h3>

    <p>791 E Kamber Cove Draper, UT 84020</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "8019704626" %></p>

    <h3>Email</h3>

    <p><a href="mailto:richardyim12@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1516.708419766184!2d-111.87037864173416!3d40.51027679483855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752874dfce0f6d1%3A0x883ea1c68d0ba212!2s791+E+Kamber+Cove%2C+Draper%2C+UT+84020!5e0!3m2!1sen!2sus!4v1499877802427" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>


<!-- <p><%= number_to_currency "18450" %></p> -->

<!-- <p><%= number_with_delimiter "15087263847623" %></p> -->