<div class="inner cover">
  <h1 class="cover-heading">Richard Yim</h1>
  <p class="lead">Here you will find many things about me so what are you waiting for? Lets have a look!</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
